.snake {
  width: 100%; }
  .snake-canvas {
    margin-top: 10px;
    display: flex;
    justify-content: center; }
  .snake-score {
    text-align: center; }
  .snake-message {
    width: 400px;
    position: absolute;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center; }
  .snake-controls {
    font-size: 1.2em;
    text-align: center; }
    .snake-controls span {
      font-weight: 600; }
