.sort {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  &-item {
    flex-basis: 10%;
    height: 50px;
    background: rgb(212, 212, 212);
    border: 2px solid black;
    color: black;
    text-align: center;
    line-height: 50px;
  }
}