.sort {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  &-item {
    transition: 1s ease-out;
    flex-basis: 10%;
    height: 50px;
    background: rgb(180, 180, 180);
    border: 2px solid black;
    color: black;
    text-align: center;
    line-height: 50px;
  }
}