.sort {
  // display: flex;
  // flex-wrap: wrap;
  &-item {
    flex-basis: 20%;
    height: 30px;
    background: rgb(212, 212, 212);
    border: 2px solid black;
    color: rgba(255, 255, 255, 0.795);
    text-align: center;
  }
}