// contains the css for sortitem also
.sort {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  &-item {
    transition: 0.3s ease-out;
    flex-basis: 20%;
    height: 50px;
    background: rgb(192, 192, 192);
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    text-align: center;
    line-height: 50px;
    order: 0;
    @media (min-width: 600px) {
      flex-basis: 10%;
    }
  }
  &-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    div {
      margin-right: 10px;
    }
  }
}

.percent {
  margin-top: 5px;
  height: 30px;
  width: 0px;
  border: 1px solid rgba(37, 37, 37, 0.315);
  border-radius: 4px;
  box-sizing: border-box;
  background: rgb(255, 166, 82);
}

// this is purposefully in the wrong css file because it's a super sekrit msg.
.super-sekret-msg {
  text-align: center;
  color: #fafafa46;
}