.sort {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px; }
  .sort-item {
    transition: 0.3s ease-out;
    flex-basis: 20%;
    height: 50px;
    background: silver;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    text-align: center;
    line-height: 50px;
    order: 0; }
    @media (min-width: 600px) {
      .sort-item {
        flex-basis: 10%; } }
  .sort-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px; }
    .sort-buttons div {
      margin-right: 10px; }

.super-sekret-msg {
  text-align: center;
  color: #fafafa46; }
