html {
  background-color: #fafafa; }

.projects {
  height: 100vh;
  width: 100vw;
  color: #1b1b1b; }
  .projects-grid {
    height: 900px; }
    .projects-grid-item {
      background-color: #f5f59d; }
